.footer {
    color: azure;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

span {
    color: yellow;
    margin: 0px 10px;
}